{% extends 'weekly/base.html' %}
{% load staticfiles %}
{% block title %}Index{% endblock %}
{% block body_block %}
{% if user.is_authenticated %}
<div class="page-header">
    <h1>Welcome to Weekly {{ user.username }}!</h1>
    {% else %}
    <h1>Welcome to Weekly!</h1>
{% endif %}
</div>
<div class="row placeholders">
    <div class="col-xs-12 col-sm-10 placeholder">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Week: this week</h3>
            </div>
            {% if users %}
            <table class="table">
                <tr>
                    <th>
                        User
                    </th>
                    <th>
                        Monday
                    </th>
                    <th>
                        Tuesday
                    </th>
                    <th>
                        Wednesday
                    </th>
                    <th>
                        Thursday
                    </th>
                    <th>
                        Friday
                    </th>
                    <th>
                        Saturday
                    </th>
                    <th>
                        Sunday
                    </th>
                </tr>
                {% for user in users %}
                    <tr>
                        <td>
                            {{ user.username }}
                        </td>
                    </tr>
                {% endfor %}
            </table>
            {% else %}
                <strong>There are no works present.</strong>
            {% endif %}
        </div>
    </div>
    <div class="col-xs-12 col-sm-2 placeholder">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Users</h3>
        </div>
    </div>
{% if users %}
        <ul class="list-group">
{% for user in users %}
    <li class="list-group-item">{{ user.username }}</li>
{% endfor %}
        </ul>
{% else %}
        <strong>There are no users present.</strong>
{% endif %}
    </div>
</div>
{% endblock %}
